<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
</head>
<body>
<h3>Просмотр всех товаров</h3>
<hr>

<form method="POST" th:action="@{/logout}">
    <button type="submit">Выйти из личного кабинета</button>
</form>
<hr>
<a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/admin}">Назад </a>
<a th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/person_account}">Назад </a>
<br>
<a href="/admin/product/add">Добавить новый товар</a>
<hr>
<div th:each="product : ${products}">
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getTitle()}"></p>
    <div th:each="img : ${product.getImageList()}">
        <img th:src="'/img/' + ${img.getFileName()}" width="300" height="300">
    </div>
    <br>

    <a th:href="@{/product/info/{id}(id=${product.getId()})}">Подробная информация о товаре</a>
    <br>
    <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать товар</a>
    <br>
    <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить товар</a>
    <hr>
    <br>
</div>
</body>
</html>